* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #D1AF97;
}

nav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    gap: 1rem;
}

button {
    padding: 1rem 3rem;
    cursor: pointer;
    
    font-size: 2rem;
    font-weight: 500;
    background-color: #E6EBE1;
    border: none;
    border-radius: 5px;
}

.content-container {
    background-color: black;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.content-container {
    background-color: white;
    height: 100%;
    width: 75%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    max-width: 850px;
    padding-bottom: 2rem;
}

.home-title {
    font-size: 3rem;
    padding: 20px 0 0 0;
}

.restaurant-detail1, .restaurant-detail0, .restaurant-detail2 {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 1rem;
    border-radius: 10px;
}




